{% extends "base.html" %}

{% block title %}
Войти
{% endblock title %}

{% block body %}
<form
  action="{{url_for('login')}}"
  method="POST"
  style="background-color: #1e1f20cc;width: 90%;max-width: 320px;padding: 40px;backdrop-filter: blur(10px);">
  
    <div class="illustration">
      <i class="icon ion-ios-locked-outline"></i>
      <h5 style="margin: 0;">Вход через edu.tatar.ru</h5>
      
    </div>

    <div style="margin-bottom: 16px;">
      {{form.login(class='border-secondary form-control', style='background-color: transparent;color: #aeaeae;')}}
    </div>

    <div style="margin-bottom: 16px;">
      {{form.password(class='border-secondary form-control', style='background-color: transparent;color: #aeaeae;')}}
    </div>

    {% if message %}
      <div><span style="color: #cf2e2e;font-size: 13px;">{{message}}</span></div>
    {% endif %}

    <div style="margin-bottom: 16px;">
      {{form.csrf_token}}
      {{form.submit(class='btn btn-primary', style='background-color: rgb(120,140,222);margin-top: 26px;border: none;width: 75%;')}}
    </div>

</form>
{% endblock body %}
