{% extends "layout.html" %}

{% block title %}
Дневник
{% endblock title %}

{% block content %}

<div class="content">
    <div style="margin-bottom: 18px;{% if not diary %}position: absolute;{% endif %}">
        <span class="main-title">Мой дневник</span>
    </div>
    {% if not diary %}
    <div class="empty-box">
        <div class="empty-box-content">
            <img src="{{url_for('static', filename='img/empty-icon.png')}}" style="width: 100px;height: 100px;">
            <div style="margin-top: 25px;">
                <span style="font-size: 14px;">Нет уроков на этой неделе</span>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
</div>

{% endblock content %}