{% extends "layout.html" %}

{% block title %}
Дневник
{% endblock title %}

{% block content %}
<div class="content">
    <div style="width: 100%;margin-bottom: 15px;float: left" class="nav-trigger-div">
        <a href="#" id="nav-trigger"><i class="ms-Icon ms-Icon--GlobalNavButton"
                style="color: #d6d6d6;font-size: 30px"></i></a>
    </div>
    <div style="float: right;margin-bottom: 18px">
        {% if prev_page %}
        <a id="back-page" href="/diary/{{ prev_page[0] }}"><i class="main-title ms-Icon ms-Icon--Back"></i></a>
        {% else %}
        <div id="back-page"><i class="main-title ms-Icon ms-Icon--Back" style="color: rgb(152,152,152)"></i></div>
        {% endif %}
        {% if next_page %}
        <a id="forward-page" href="/diary/{{ next_page[0] }}"><i class="main-title ms-Icon ms-Icon--Forward"></i></a>
        {% else %}
        <div id="forward-page"><i class="main-title ms-Icon ms-Icon--Forward" style="color: rgb(152,152,152)"></i></div>
        {% endif %}
    </div>
    {% if diary %}
    <div style="margin-bottom: 18px;">
        <span class="main-title"><i class="ms-Icon ms-Icon--BookAnswers"
                style="font-size: 22px"></i>&nbsp;&nbsp;Дневник</span>
    </div>
    {% else %}
    <div style="margin-bottom: 18px;float: left;">
        <span class="main-title"><i class="ms-Icon ms-Icon--BookAnswers"
                style="font-size: 22px"></i>&nbsp;&nbsp;Дневник</span>
    </div>
    {% endif %}
    {% if not diary %}
    <div class="empty-box">
        <div class="empty-box-content">
            <img src="{{url_for('static', filename='img/empty-icon.png')}}" style="width: 100px;height: 100px;">
            <div style="margin-top: 25px;">
                <span style="font-size: 14px;">Нет уроков на этой неделе</span>
            </div>
        </div>
    </div>
    {% else %}
    {% for key, value in diary.items() %}
    <div class="day">
        <div><span style="color: #d6d6d6;font-size: 20px;font-weight: 400;">{{ key }}</span></div>
        <hr style="height: 0px;border-top: solid 1px #636363;margin: 7px -3px">
        <div>
            {% for subject in value %}
            <div class="subject">
                <div style="float: right"><span style="color: #d6d6d6;font-size: 17px">{{ subject[2] }}</span></div>
                <div><span style="color: #d6d6d6;font-size: 15px">{{ subject[0] }}</span></div>
                <div style="width: 90%">
                    <span style="color: #a9a9a9;font-size: 12px; line-height: 15px">
                        {% for i in range(subject[1]|length) %}
                        {% if i != 0 %}
                        <div class="custom-br"></div>
                        {% endif %}
                        {{ subject[1][i] }}
                        {% endfor %}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}