{% extends "layout.html" %}

{% block title %}
Дневник
{% endblock title %}

{% block content %}
<div class="content">
    <div style="width: 100%;margin-bottom: 15px;float: left" class="nav-trigger">
        <a href="#"><i class="ms-Icon ms-Icon--GlobalNavButton" style="color: #d6d6d6;font-size: 30px"></i></a>
    </div>
    <div style="margin-bottom: 18px;{% if not diary %}float: left;{% endif %}">
        <span class="main-title"><i class="ms-Icon ms-Icon--BookAnswers" style="font-size: 22px"></i>&nbsp;&nbsp;Мой дневник</span>
    </div>
    {% if not diary %}
    <div class="empty-box">
        <div class="empty-box-content">
            <img src="{{url_for('static', filename='img/empty-icon.png')}}" style="width: 100px;height: 100px;">
            <div style="margin-top: 25px;">
                <span style="font-size: 14px;">Нет уроков на этой неделе</span>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
</div>

{% endblock content %}