{% extends "layout.html" %}

{% block title %}
Факультативы
{% endblock title %}

{% block content %}
<div class="content">
    <div style="width: 100%;margin-bottom: 15px; float: left" class="nav-trigger">
        <a href="#"><i class="ms-Icon ms-Icon--GlobalNavButton" style="color: #d6d6d6;font-size: 30px"></i></a>
    </div>
    <div style="margin-bottom: 18px;{% if not facs %}position: absolute;float: left{% endif %}">
        <span class="main-title"><i class="ms-Icon ms-Icon--AddWork" style="font-size: 22px"></i>&nbsp;&nbsp;Мои факультативы</span>
    </div>

    {% if not facs %}
    <div class="empty-box">
        <div class="empty-box-content">
            <img src="{{url_for('static', filename='img/empty-icon.png')}}" style="width: 100px;height: 100px;">
            <div style="margin-top: 25px;">
                <span style="font-size: 14px;">Здесь будут отображаться факультативы</span>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% for key, value in facs.items() %}
    <a href={{key}}>
    <div class="star-row">
        <div class="recycle" style="float: right;"><i class="ms-Icon ms-Icon--Delete" style="color: #c53434;"></i></div>
        <div style="padding: 14px;"><span style="color: #d6d6d6;font-size: 15px;height: 55px">{{value}}</span></div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}