{% extends 'layout.html' %}

{% block title %}
{{ info['name'] }}
{% endblock title %}

{% block content %}
<div class="content">
    <div style="width: 100%;margin-bottom: 15px;float: left" class="nav-trigger-div">
        <a href="#" id="nav-trigger"><i class="ms-Icon ms-Icon--GlobalNavButton"
                style="color: #d6d6d6;font-size: 30px"></i></a>
    </div>
    <div style="margin-bottom: 18px;">
        <span class="main-title">{{ info['name'] }}</span>
    </div>

    {% if info['description'] %}
    <div class="accord-shield">
        <i class="ms-Icon ms-Icon--ChevronDown" style="color: #d6d6d6;font-size: 14px;vertical-align: bottom;"></i>
        <span style="color: #d6d6d6;font-size: 16px;">
            &nbsp;Описание
        </span>
    </div>
    <div class="fac-comment">
        <div>
            {% for p in info['description'] %}
            <span style="color: #a9a9a9;font-size: 14px;">
                {{ p|urlize(20) }}
                <br>
            </span>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if info['files'] %}
    <div class="accord-shield">
        <i class="ms-Icon ms-Icon--ChevronDown" style="color: #d6d6d6;font-size: 14px;vertical-align: bottom;"></i>
        <span style="color: #d6d6d6;font-size: 16px;">
            &nbsp;Файлы
        </span>
    </div>
    <div style="margin-top: 11px;"></div>
    {% for url, name in info['files'].items() %}
    <a href="{{ url }}" style="color: #a9a9a9;">
        <div class="star-row" style="margin-top: 4px;padding-bottom: 5px;padding-top: 5px;">
            <i class="ms-Icon ms-Icon--TextDocument" style="vertical-align: bottom;"></i>&nbsp;{{ name }}
        </div>
    </a>
    {% endfor %}
    {% endif %}

    {% if info['comments'] %}
    <div class="accord-shield">
        <i class="ms-Icon ms-Icon--ChevronDown" style="color: #d6d6d6;font-size: 14px;vertical-align: bottom;"></i>
        <span style="color: #d6d6d6;font-size: 16px;">
            &nbsp;Комментарии
        </span>
    </div>
    <div style="margin-top: 15px;"></div>
    {% for comment in info['comments'] %}
    <div class="fac-comment" style="margin-top: 2px;margin-bottom: 2px;">
        <div style="color: #d6d6d6;float: right;">{{ comment['date'] }}</div>
        <div style="color: #d6d6d6;margin-bottom: 5px;">{{ comment['author'] }}</div>
        <div style="color: #a9a9a9;">{{ comment['text'] }}</div>
    </div>
    {% if comment['files'] %}
    {% for key, value in comment['files'].items() %}
    <a href="{{ key }}" style="color: #a9a9a9;">
        <div class="star-row" style="margin-top: 2px;padding-bottom: 5px;padding-top: 5px;">
            <i class="ms-Icon ms-Icon--TextDocument" style="vertical-align: bottom;"></i>&nbsp;{{ value }}
        </div>
    </a>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}