{% extends "layout.html" %}

{% block title %}
Оценки
{% endblock title %}

{% block content %}
<div class="content">
    <div style="margin-bottom: 18px;{% if not diary %}position: absolute;{% endif %}">
        <span class="main-title">{{ term }} четверть</span>
    </div>
    <div style="float: right;margin-bottom: 18px">
        {% if term != '1' %}
        <a href="/marks/{{ term|int - 1 }}" style="margin-right: 10px;float: left;border-radius: 4px;background-color: #1e1f20cc;padding: 2px;padding-left: 10px;padding-right: 10px;"><i class="main-title ms-Icon ms-Icon--Back"></i></a>
        {% else %}
        <div style="margin-right: 10px;float: left;border-radius: 4px;background-color: #1e1f20cc;padding: 2px;padding-left: 10px;padding-right: 10px;"><i class="main-title ms-Icon ms-Icon--Back" style="color: rgb(152,152,152)"></i></div>
        {% endif %}
        {% if term != '4' %}
        <a href="/marks/{{ term|int + 1 }}" style="margin-left: 10px;float: left;border-radius: 4px;background-color: #1e1f20cc;padding: 2px;padding-left: 10px;padding-right: 10px;"><i class="main-title ms-Icon ms-Icon--Forward"></i></a>
        {% else %}
        <div style="margin-left: 10px;float: left;border-radius: 4px;background-color: #1e1f20cc;padding: 2px;padding-left: 10px;padding-right: 10px;"><i class="main-title ms-Icon ms-Icon--Forward" style="color: rgb(152,152,152)"></i></div>
        {% endif %}
    </div>
    {% if not stars %}
    <div class="empty-box">
        <div class="empty-box-content">
            <img src="{{url_for('static', filename='img/empty-icon.png')}}" style="width: 100px;height: 100px;">
            <div style="margin-top: 25px;">
                <span style="font-size: 14px;">Нет оценок в этой четверти</span>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
    {% for key, value in stars.items() %}
    <div class="star-row">
        <div style="float: left;padding-left: 14px;">
            <div style="line-height: 20px;padding: 6px;">
                <span style="color: #d6d6d6;font-size: 15px;">{{ key }}</span>
                <br>
                <span style="color: darkgray;font-size: 12px;">{% for star in value['stars'] %}
                {{ star + ' ' }}
                {% endfor %}</span>
            </div>
        </div>
        <div style="float: right;padding: 14px;width: 60px;"><span style="color: #d6d6d6;font-size: 15px;height: 55px">{{ value['total'] }}</span></div>
        <div style="float: right;padding: 14px;width: 65px;"><span style="color: #d6d6d6;font-size: 15px;height: 55px">{{ value['average'] }}</span></div>
    </div>
    {% endfor %}
</div>
{% endblock content %}