{% extends "layout.html" %}

{% block title %}
Оценки
{% endblock title %}

{% block content %}
<div class="content">
    <div style="width: 100%;margin-bottom: 15px;float: left;" class="nav-trigger-div">
        <a href="#" id="nav-trigger"><i class="ms-Icon ms-Icon--GlobalNavButton" style="color: #d6d6d6;font-size: 30px"></i></a>
    </div>
    <div style="float: right;margin-bottom: 18px">
        {% if term != '1' %}
        <a id="back-page" href="/marks/{{ term|int - 1 }}"><i class="main-title ms-Icon ms-Icon--Back"></i></a>
        {% else %}
        <div id="back-page"><i class="main-title ms-Icon ms-Icon--Back" style="color: rgb(152,152,152)"></i></div>
        {% endif %}
        {% if term != '4' %}
        <a id="forward-page" href="/marks/{{ term|int + 1 }}"><i class="main-title ms-Icon ms-Icon--Forward"></i></a>
        {% else %}
        <div id="forward-page"><i class="main-title ms-Icon ms-Icon--Forward" style="color: rgb(152,152,152)"></i></div>
        {% endif %}
    </div>
    <div style="margin-bottom: 18px;{% if not diary %}float: left;{% endif %}">
        <span class="main-title"><i class="ms-Icon ms-Icon--6PointStar" style="font-size: 22px"></i>&nbsp;&nbsp;{{ term }} четверть</span>
    </div>
    {% if not stars %}
    <div class="empty-box">
        <div class="empty-box-content">
            <img src="{{ url_for('static', filename='img/empty-icon.png') }}" style="width: 100px;height: 100px;">
            <div style="margin-top: 25px;">
                <span style="font-size: 14px;">Нет оценок в этой четверти</span>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
    {% for key, value in stars.items() %}
    <div class="star-row">
        <div style="float: right;padding: 14px;width: 60px;"><span style="color: #d6d6d6;font-size: 15px;height: 55px">{{ value['total'] }}</span></div>
        <div style="float: right;padding: 14px;width: 65px;"><span style="color: #d6d6d6;font-size: 15px;height: 55px">{{ value['average'] }}</span></div>
        <div style="padding-left: 14px;">
            <div style="line-height: 20px;padding: 6px;">
                <span style="color: #d6d6d6;font-size: 15px;">{{ key }}</span>
                <br>
                <span style="color: darkgray;font-size: 12px;">{% for star in value['stars'] %}
                {{ star + ' ' }}
                {% endfor %}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}