{% extends "layout.html" %}

{% block title %}
Оценки
{% endblock title %}

{% block content %}
<div style="height: 100vh;padding: 37px;margin-left: 300px;overflow: auto">
    <h1 style="color: #ffffff;margin-bottom: 18px;">Мои оценки</h1>
    {% for key, value in stars.items() %}
    <div class="star-row">
        <div style="float: left;padding: 14px;"><span style="color: #d6d6d6;font-size: 18px;height: 55px">{{key}}</span></div>
        <div style="float: right;padding: 14px;width: 60px;"><span style="color: #d6d6d6;font-size: 18px;height: 55px">{{ value['total'] }}</span></div>
        <div style="float: right;padding: 14px;width: 65px;"><span style="color: #d6d6d6;font-size: 18px;height: 55px">{{ value['average'] }}</span></div>
        {% for star in value['stars'] %}
        <div style="float: right;padding: 14px;width: 30px;"><span style="color: #d6d6d6;font-size: 18px;">{{ star }}</span></div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}